.services {
    background-image: url(/images/bg-our-service.png);
    background-position: 100% -406px;
    background-repeat: no-repeat;
    background-size: 193px auto;

}

.services-card:hover .hover-bg {
    opacity: 1;
}

.services-card .hover-bg {
    transition: 0.5s all;
    background: linear-gradient(to top, #e95440 0%, #e954404d 100%);
    opacity: 0;
}

.services .slick-list {
    overflow: visible;
}

.card-info {
    transition: 0.5s all;
    height: 0;
    overflow: hidden;
}

.services-card:hover .card-info {
    height: 110px;
}

.services-btn button {
    transition: 0.3s all;
}

.services-btn button:hover,
.services-btn button:hover svg {
    background-color: #e95440;
    color: #fff;
}

.services-card {
    transition: 0.3s all;
    background-position: center;
    background-size: 450px;
}

.services-card:hover {
    background-size: 500px;
}

.services-card:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000066;
    border-radius: 8px;
}